In [2]:
import pandas as pd
import numpy as np
import os
os.chdir(path="c:\\Users\\lenovo\\Desktop\\HKUSTGZ-PG\\Course-project\\DSAA-5002\\Final-Project\\")

## Data preprocessing and analysis
**It is very important to gain an comprehensive insight to the data**
- x, y, z may stand for the coordinate position
- a, b, c, d is a one-hot encoding label which may represent whether the cat is on a object or not

In [2]:
df = pd.read_csv("./Data/Q1/train/data_2.csv")
df

              x          y          z  a  b  c  d  Is_Falling
0     24.360715  14.661491  15.061292  0  0  0  1           0
1     24.345720  14.677384  15.080112  0  0  1  0           0
2     24.315322  14.641433  15.020421  1  0  0  0           0
3     24.305469  14.663497  15.005379  0  1  0  0           0
4     24.273169  14.633127  14.865332  0  0  1  0           0
...         ...        ...        ... .. .. .. ..         ...
6187  18.620964  13.819923  16.066216  0  0  1  0           0
6188  18.794520  13.798157  16.174831  0  1  0  0           0
6189  18.877613  13.844450  16.137392  0  0  1  0           0
6190  18.985217  13.856559  16.141353  0  0  0  1           0
6191  19.109777  13.828285  16.296521  0  1  0  0           0

[6192 rows x 8 columns]

In [3]:
normal_index = np.random.choice(df[df.iloc[:, -1] == 0].index.to_numpy(), \
                                size=int((1- 0.6) * 10000))
anomaly_index = np.random.choice(df[df.iloc[:, -1] == 1].index.to_numpy(), \
                                size=int(0.6 * 10000)) # upsample

In [7]:
sample_index = list(np.concatenate((normal_index, anomaly_index)))

In [6]:
df.iloc[anomaly_index, -1]

5727    1
5675    1
5686    1
5737    1
5672    1
       ..
5621    1
5585    1
5599    1
5660    1
5696    1
Name: Is_Falling, Length: 6000, dtype: int64

In [12]:
data = df.iloc[sample_index, :]
data.iloc[:, -1].value_counts()

1    6000
0    4000
Name: Is_Falling, dtype: int64

In [9]:
len(sample_index)

10000

## Data Analysis
 - Missing value detection
 - Data distribution

### Missing value detection

In [3]:
data.isna().any() # no missing value!

x             False
y             False
z             False
a             False
b             False
c             False
d             False
Is_Falling    False
dtype: bool

### Anomaly and Normal Distribution

**The anomalies are very rare in the dataset**

In [4]:
data["Is_Falling"].value_counts()

0    5958
1     234
Name: Is_Falling, dtype: int64

In [5]:
data["Is_Falling"].value_counts() / len(data)

0    0.962209
1    0.037791
Name: Is_Falling, dtype: float64

In [31]:
df["id"] = [i for i in range(len(df))]